*~
*.a
*.app
build
*.cmd
*.d
dkms.conf
*.dll
*.dSYM/
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lib
*.lo
LOG.md
*.map
Mkfile.old
*.mod*
modules.order
Module.symvers
*.o
*.obj
*.out
*.pch
*.pdb
*.so
*.so.*
*.su
.swival
tmp/
.tmp_versions/
.vscode
*.x86_64
.zig-cache
zig-out
